.cardi {
    width: 100vw;
    height: 80%;
    border: red 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
};
.profil-img {
    
    width: 80vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
}