.profil-img {
  position: relative;
  width: 80vw;
  height: 70vh;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-top: 5vh;
}

.card-wrapper {
  display: flex;
  justify-content: center;
}
.swipe {
  position: absolute;
}

.profil-img h1 {
  position: absolute;
  bottom: 15px;
  color: white;
  left: 15px;
}
