.card {
  width: 100vw;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profil-img {
  position: relative;
  width: 98vw;
  height: 80vh;
  max-width: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0px 0px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
}
.swipe {
  position: absolute;
}

.profil-img h1 {
  position: absolute;
  bottom: 15vh;
  color: white;
  left: 15px;
}
