.header-menu{
    width: 100%;
    height: 10%;
    background-color: rgb(231, 227, 227);
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
#tinder-icon {
    font-size: xx-large;
    color: #FE3C72;
}
