.slider {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-left {
  position: absolute;
  top: 90%;
  left: 30px;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.slider-right {
  position: absolute;
  top: 90%;
  right: 30px;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.profile-img {
  width: 100%;
  max-height: 340px;
  object-fit: cover;
}

    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider-img {
    width: 125px;
    height: 200px;
  }
  
  .slider-left {
    position: absolute;
    top: 50%;
    left: 30px;
    color: white;
    cursor: pointer;
  }
  
  .slider-right {
    position: absolute;
    top: 50%;
    right: 30px;
    color: white;
    cursor: pointer;
  };

